/**
 * 作 者： 齐秀
 * 日 期： 2018-08-30
 * 功 能： 注册、登录样式
 * 
 */
.body-bg{
	width:100%; 
	min-height: 568px;
	height: calc(100% - 2px);	
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 	
	background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */
	background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #fff, #0000ff);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #fff, #0000ff);  /*Opera 11.10+*/
}

.div-top{
	padding: calc(30% - 15px) calc( 35% - 10px ) calc(20% - 15px) calc( 35% - 10px ) ;
}
